<div class="terms-condition-area rn-section-gapTop">
    <div class="container">
        <div class="row">
            <div class="offset-lg-2 col-lg-8">
                <div class="condition-wrapper">
                    <h2>Library Membership Terms & Conditions</h2>
                    <p>
                        Just like in a physical library, where each book is unique, non-fungible tokens (NFTs) in the digital world represent one-of-a-kind assets. While you can borrow or purchase a copy of a book, there will always be only one original edition.
                    </p>
                    <p>
                        NFTs, like books, hold value and can be traded, but they exist solely in the digital realm, without a tangible form of their own.
                    </p>
                    <p>
                        Our library aims to provide access to a wide range of literary works through digital means. By accepting these terms and conditions, you agree to abide by the rules and guidelines outlined here.
                    </p>

                    <h2>Book Borrowing Policies</h2>
                    <p>
                        Just as with physical books, borrowing digital copies from our library is subject to certain conditions. Our library is committed to promoting literacy and knowledge sharing in the digital age.
                    </p>
                    <p>
                        Members can borrow books for a specified duration, after which they must be returned. Failure to comply with borrowing policies may result in penalties or suspension of library privileges.
                    </p>

                    <h2>Donating Books</h2>
                    <p>
                        We welcome donations of digital books to expand our library's collection. Donated books will be vetted for authenticity and relevance before being added to our catalog.
                    </p>
                    <p>
                        By donating books, you grant the library permission to distribute and lend the digital copies to our members.
                    </p>

                    <h2>Acceptance of Terms</h2>
                    <p>
                        By clicking "Accept," you acknowledge that you have read and agree to abide by the library's terms and conditions. If you do not agree with these terms, please click "Decline" to exit.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt--50">
            <div class="offset-lg-2 col-lg-8">
                <a asp-controller="Home" asp-action="Index"  class="btn btn-primary mr--15">Accept</a>
                <a class="btn btn-primary-alta">Decline</a>
            </div>
        </div>
    </div>
</div>
