@model BookFormModel

<div class="rn-breadcrumb-inner ptb--30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <h5 class="title text-center text-md-start">Crete a New File</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-list">
                    <li class="item"><a asp-action="Home" >Home</a></li>
                    <li class="separator"><i class="feather-chevron-right"></i></li>
                    <li class="item current">Crete a New File</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="create-area rn-section-gapTop">
    <div class="container">
        <form class="row" method="post" enctype="multipart/form-data">
        <div class="row g-5">
            <div class="col-lg-3 offset-1 ml_md--0 ml_sm--0">
                <!-- file upload area -->
                <div asp-for="Image" class="upload-area">

                    <div class="upload-formate mb--30">
                        <h6  class="title">
                            Upload file
                        </h6>
                        <p class="formate">
                            Drag or choose your file to upload
                        </p>
                    </div>

                    <div class="brows-file-wrapper">
                        <!-- actual upload which is hidden -->
                            <input asp-for="Image" name="Image" id="createinputfile" type="file" class="inputfile" />
                            <img asp-for="Image" id="createfileImage" src="~/assets/images/portfolio/portfolio-05.jpg" alt="" data-black-overlay="6">
                        <!-- our custom upload button -->
                        <label for="createinputfile" title="No File Choosen">
                            <i class="feather-upload"></i>
                            <span class="text-center">Choose a File</span>
                            <p class="text-center mt--10">PNG, GIF, WEBP, MP4 or MP3. <br>    Max 1Gb.</p>
                        </label>
                    </div>
                    <span asp-validation-for="Image" class="small text-danger"></span>
                </div>

            </div>

            <div class="col-lg-7">
                <div class="form-wrapper-one">
                   

                        <div class="col-md-12">
                            <div class="input-box pb--20">
                                <label asp-for="Title" class="form-label">Title of Book</label>
                                <input asp-for="Title" placeholder="Man's Search for Meaning">
                                <span asp-validation-for="Title" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="input-box pb--20">
                                <label asp-for="Description" class="form-label">Description</label>
                                <textarea id="Discription" asp-for="Description" rows="3" placeholder="Rather than pitching individual stories, the short story collection "></textarea>
                                <span asp-validation-for="Description" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="input-box pb--20">
                                <label asp-for="BookPrice" for="dollerValue" class="form-label">Book Price </label>
                                <input asp-for="BookPrice" id="dollerValue" placeholder="e. g. `20$`">
                                <span asp-validation-for="BookPrice" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="input-box pb--20">
                                <label asp-for="Pages" for="Size" class="form-label">Pages</label>
                                <input asp-for="Pages" id="Size" placeholder="e. g. `Size`">
                                <span asp-validation-for="Pages" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="input-box pb--20">
                                <label asp-for="Publisher" for="Propertie" class="form-label">Publisher</label>
                                <input asp-for="Publisher" id="Propertie" placeholder="Beacon Press; 1st edition (June 1, 2006)">
                                <span asp-validation-for="Publisher" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="input-box pb--20">
                                <label asp-for="Language" for="Royality" class="form-label">Language</label>
                                <input asp-for="Language" id="Royality" placeholder="English..French and etc.">
                                <span asp-validation-for="Language" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="input-box pb--20">
                                <label asp-for="CategoryId"></label>
                                <select asp-for="CategoryId" class="form-control">
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="CategoryId" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-12 col-xl-8 mt_lg--15 mt_md--15 mt_sm--15">
                            <div class="input-box">
                                <button class="btn btn-primary btn-large w-100">Submit Item</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

           
        </div>
    </div>
</div>

<div class="rn-footer-one rn-section-gap bg-color--1 mt--100 mt_md--80 mt_sm--80"></div>
