<div class="rn-breadcrumb-inner ptb--30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <h5 class="title text-center text-md-start">Crete a New File</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-list">
                    <li class="item"><a href="index.html">Home</a></li>
                    <li class="separator"><i class="feather-chevron-right"></i></li>
                    <li class="item current">Crete a New File</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="create-area rn-section-gapTop">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-3 offset-1 ml_md--0 ml_sm--0">
                <!-- file upload area -->
                <div class="upload-area">

                    <div class="upload-formate mb--30">
                        <h6 class="title">
                            Upload file
                        </h6>
                        <p class="formate">
                            Drag or choose your file to upload
                        </p>
                    </div>

                    <div class="brows-file-wrapper">
                        <!-- actual upload which is hidden -->
                        <input name="createinputfile" id="createinputfile" type="file" class="inputfile" />
                        <img id="createfileImage" src="~/assets/images/portfolio/portfolio-05.jpg" alt="" data-black-overlay="6">
                        <!-- our custom upload button -->
                        <label for="createinputfile" title="No File Choosen">
                            <i class="feather-upload"></i>
                            <span class="text-center">Choose a File</span>
                            <p class="text-center mt--10">PNG, GIF, WEBP, MP4 or MP3. <br>    Max 1Gb.</p>
                        </label>
                    </div>
                </div>

            </div>

            <div class="col-lg-7">
                <div class="form-wrapper-one">
                    <form class="row" action="#">

                        <div class="col-md-12">
                            <div class="input-box pb--20">
                                <label for="name" class="form-label">Title of Book</label>
                                <input id="name" placeholder="Man's Search for Meaning">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="input-box pb--20">
                                <label for="Discription" class="form-label">Discription</label>
                                <textarea id="Discription" rows="3" placeholder="Rather than pitching individual stories, the short story collection "></textarea>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="input-box pb--20">
                                <label for="dollerValue" class="form-label">Book Price </label>
                                <input id="dollerValue" placeholder="e. g. `20$`">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="input-box pb--20">
                                <label for="Size" class="form-label">Pages</label>
                                <input id="Size" placeholder="e. g. `Size`">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="input-box pb--20">
                                <label for="Propertie" class="form-label">Publisher</label>
                                <input id="Propertie" placeholder="Beacon Press; 1st edition (June 1, 2006)">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="input-box pb--20">
                                <label for="Royality" class="form-label">Language</label>
                                <input id="Royality" placeholder="English..French and etc.">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="input-box pb--20">
                                <label for="Royality" class="form-label">Category</label>
                                <select id="Royality" placeholder="English..French and etc."></select>
                            </div>
                        </div>

                        <div class="col-md-12 col-xl-8 mt_lg--15 mt_md--15 mt_sm--15">
                            <div class="input-box">
                                <button class="btn btn-primary btn-large w-100">Submit Item</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

           
        </div>
    </div>
</div>

<div class="rn-footer-one rn-section-gap bg-color--1 mt--100 mt_md--80 mt_sm--80"></div>
