@using BookLibrary.Web.ViewModels.User;
@model RegisterFormModel
@{
    ViewData["Title"] = "Register";
}

<div class="rn-breadcrumb-inner ptb--30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <h5 class="title text-center text-md-start">@ViewData["Title"]</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-list">
                    <li class="item"><a href="index.html">Home</a></li>
                    <li class="separator"><i class="feather-chevron-right"></i></li>
                    <li class="item current">@ViewData["Title"]</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end page title area -->
<!-- login form -->
<div class="login-area rn-section-gapTop">
    <div class="container">
        <div class="row g-5">
            <div class="offset-2 col-lg-4 col-md-6 ml_md--0 ml_sm--0 col-sm-12">
                <div class="form-wrapper-one registration-area">
                    <h4>Sign up</h4>
                    <form method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-5">
                            <label asp-for="FirstName" class="form-label">First name</label>
                            <input asp-for="FirstName" id="firstName">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-5">
                            <label asp-for="LastName" class="form-label">Last name</label>
                            <input asp-for="LastName" id="LsastName">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-5">
                            <label asp-for="Email" class="form-label">Email address</label>
                            <input asp-for="Email" type="email" id="exampleInputEmail1">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-5">
                            <label asp-for="Password" class="form-label">Create Password</label>
                            <input asp-for="Password" id="newPassword">
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-5">
                            <label asp-for="ConfirmPassword" class="form-label">Re Password</label>
                            <input asp-for="ConfirmPassword" id="exampleInputPassword1">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div asp-for="Image" class="upload-area">

                            <div class="upload-formate mb--30">
                                <h6 class="title">
                                    Upload Profile Picture
                                </h6>
                                <p class="formate">
                                    Drag or choose your file to upload
                                </p>
                            </div>

                            <div class="brows-file-wrapper">
                                <!-- actual upload which is hidden -->
                                <input asp-for="ProfilePicture" name="ProfilePicture" id="createinputfile" type="file" class="inputfile" />
                                <img id="createfileImage" src="~/assets/images/portfolio/portfolio-05.jpg" alt="" data-black-overlay="6">
                                <!-- our custom upload button -->
                                <label for="createinputfile" title="No File Choosen">
                                    <i class="feather-upload"></i>
                                    <span class="text-center">Choose a File</span>
                                    <p class="text-center mt--10">PNG, GIF, WEBP, MP4 or MP3. <br>    Max 1Gb.</p>
                                </label>
                            </div>
                            <span asp-validation-for="ProfilePicture" class="small text-danger"></span>
                        </div>
                        
                        <button type="submit" class="btn btn-primary mr--15">Sign Up</button>
                        <a class="btn btn-primary-alta" asp-controller="User" asp-action="Register">Log In</a>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="social-share-media form-wrapper-one">
                    <h6>Another way to sign up</h6>
                    <p> Lorem ipsum dolor sit, amet sectetur adipisicing elit.cumque.</p>
                    <button class="another-login login-facebook"> <img class="small-image" src="~/assets/images/icons/google.png" alt=""> <span>Log in with Google</span></button>
                    <button class="another-login login-facebook"> <img class="small-image" src="~/assets/images/icons/facebook.png" alt=""> <span>Log in with Facebook</span></button>
                    <button class="another-login login-twitter"> <img class="small-image" src="~/assets/images/icons/tweeter.png" alt=""> <span>Log in with Twitter</span></button>
                    <button class="another-login login-linkedin"> <img class="small-image" src="~/assets/images/icons/linkedin.png" alt=""> <span>Log in with linkedin</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}