@model BookAllViewModel
<div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12">
    <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.Id" class="rn-collection-inner-one">
        <div class="collection-wrapper">
            <div class="collection-big-thumbnail">
                <img src="~/assets/images/collection/collection-lg-01.jpg" alt="Nft_Profile">
            </div>
            <div class="collenction-small-thumbnail">
                <img src="~/assets/images/collection/collection-sm-01.jpg" alt="Nft_Profile">
                <img src="~/assets/images/collection/collection-sm-02.jpg" alt="Nft_Profile">
                <img src="~/assets/images/collection/collection-sm-03.jpg" alt="Nft_Profile">
            </div>
            <div class="collection-profile">
                <img src="~/assets/images/client/client-15.png" alt="Nft_Profile">
            </div>
            <div class="collection-deg">
                <h6 class="title">@Model.Title</h6>
                <span class="items">@Model.Price</span>
            </div>
        </div>
    </a>
</div>