<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BookLibrary</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - BookLibrary</title>
 
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="~/assets/css/vendor/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/plugins/feature.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/odometer.css">

    <!-- Style css -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BookLibrary</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header> *@
    <header class="rn-header haeder-default header--sticky">
        <div class="container">
            <div class="header-inner">
                <div class="header-left">
                    <div class="logo-thumbnail logo-custom-css">
                        <a class="logo-light" href="index.html"><img src="~/assets/images/logo/logo-white.png" alt="nft-logo"></a>
                        <a class="logo-dark" href="index.html"><img src="~/assets/images/logo/logo-dark.png" alt="nft-logo"></a>
                    </div>
                    <div class="mainmenu-wrapper">
                        <nav id="sideNav" class="mainmenu-nav d-none d-xl-block">
                            <!-- Start Mainmanu Nav -->
                            <ul class="mainmenu">
                                <li class="has-droupdown has-menu-child-item">
                                    <a asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                                </li>
                                
                                
                                <li class="with-megamenu">
                                    <a href="#">Pages</a>
                                    <div class="rn-megamenu">
                                        <div class="wrapper">
                                            <div class="row row--0">
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li>
                                                            <a asp-area="" asp-controller="Book" asp-action="Add">Create Book<i data-feather="file-plus"></i></a>
                                                        </li>

                                                        <li><a asp-area="" asp-controller="Book" asp-action="All">Our Collection<i data-feather="package"></i></a></li>
                                                        <li><a asp-area="" asp-controller="Book" asp-action="Mine">Author/Profile(User) <i data-feather="user"></i></a></li>
                                                        
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a asp-area="" asp-controller="User" asp-action="Login">Log In <i data-feather="log-in"></i></a></li>
                                                        <li><a asp-area="" asp-controller="User" asp-action="Register">Registration <i data-feather="user-plus"></i></a></li>
                                                        <li><a asp-area="" asp-controller="User" asp-action="EditProfile">Edit Profile<i data-feather="edit"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="product.html">Product<i data-feather="folder"></i></a></li>
                                                        <li><a href="product-details.html">Product Details <i data-feather="layout"></i></a></li>
                                                    </ul>
                                                </div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- End Mainmanu Nav -->
                        </nav>
                    </div>
                </div>
                <div class="header-right">
                    <div class="setting-option d-none d-lg-block">
                        <form class="search-form-wrapper" action="#">
                            <input type="search" placeholder="Search Here" aria-label="Search">
                            <div class="search-icon">
                                <button><i class="feather-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="setting-option rn-icon-list d-block d-lg-none">
                        <div class="icon-box search-mobile-icon">
                            <button><i class="feather-search"></i></button>
                        </div>
                        <form id="header-search-1" action="#" method="GET" class="large-mobile-blog-search">
                            <div class="rn-search-mobile form-group">
                                <button type="submit" class="search-button"><i class="feather-search"></i></button>
                                <input type="text" placeholder="Search ...">
                            </div>
                        </form>
                    </div>

                   

                   

                   


                   

                    <div id="my_switcher" class="my_switcher setting-option">
                        <ul>
                            <li>
                                <a href="javascript: void(0);" data-theme="light" class="setColor light">
                            <img class="sun-image" src="~/assets/images/icons/sun-01.svg" alt="Sun images">
                                </a>
                            </li>
                            <li>
                                <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                                    <img class="Victor Image" src="~/assets/images/icons/vector.svg" alt="Vector Images">
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - BookLibrary - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/ThemeSwitcher.js"></script>
    <script src="~/assets/js/vendor/jquery.js"></script>
    <script src="~/assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/vendor/jquery-ui.js"></script>
    <script src="~/assets/js/vendor/modernizer.min.js"></script>
    <script src="~/assets/js/vendor/feather.min.js"></script>
    <script src="~/assets/js/vendor/slick.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/assets/js/vendor/sal.min.js"></script>
    <script src="~/assets/js/vendor/particles.js"></script>
    <script src="~/assets/js/vendor/jquery.style.swicher.js"></script>
    <script src="~/assets/js/vendor/js.cookie.js"></script>
    <script src="~/assets/js/vendor/count-down.js"></script>
    <script src="~/assets/js/vendor/isotop.js"></script>
    <script src="~/assets/js/vendor/imageloaded.js"></script>
    <script src="~/assets/js/vendor/backtoTop.js"></script>
    <script src="~/assets/js/vendor/odometer.js"></script>
    <script src="~/assets/js/vendor/jquery-appear.js"></script>
    <script src="~/assets/js/vendor/scrolltrigger.js"></script>
    <script src="~/assets/js/vendor/jquery.custom-file-input.js"></script>
    <script src="~/assets/js/vendor/savePopup.js"></script>
    <script src="~/assets/js/vendor/vanilla.tilt.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/vendor/web3.min.js"></script>
    <script src="~/assets/js/vendor/maralis.js"></script>
    <script src="~/assets/js/vendor/nft.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
